h1 {
  text-align: center;
}
mat-label {
  display: block;
}
mat-form-field {
  margin: 5px;
}
.textar {
  width: 430px;
  margin-left: 30px;
  height: 200px;
}
.textarea {
  width: 400px;
  
  height: 170px;
}
.btns {
  margin-right: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  gap: 10px;
  #btnDel {
    background-color: rgb(243, 120, 120);
  }
  #btnSave {
    background-color: rgb(120, 243, 136);
  }
}
p{
  margin-left: 30px;
  color:red;
}