<section class="section">
  <span class="list-section">
    <mat-checkbox
      class="margin-checkbox"
      [checked]="allComplete"
      [color]="selector.color"
      [indeterminate]="someComplete()"
      (change)="setAll($event.checked)"
    >
    </mat-checkbox>
    <p>{{ selector.name }}</p>
  </span>
  <span class="list-section">
    <ul>
      <li *ngFor="let subselector of selector.subselectors">
        <mat-checkbox
          [(ngModel)]="subselector.completed"
          [color]="subselector.color"
          (ngModelChange)="updateAllComplete()"
          [disabled]="isDisabled"
        >
          {{ subselector.name }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  
  <button
    mat-flat-button
    color="primary"
    (click)="filterItems(true)"
    [disabled]="isDisabled"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
  <button mat-flat-button color="warn" (click)="noFilter(false)">
    <mat-icon>clear</mat-icon>
  </button>
</section>
