<p>select-fields works!</p>
<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox
      class="example-margin"
      [checked]="allComplete"
      [color]="task.color"
      [indeterminate]="someComplete()"
      (change)="setAll($event.checked)"
    >
    </mat-checkbox>
    <p>{{ task.name }}</p>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox
          [(ngModel)]="subtask.completed"
          [color]="subtask.color"
          (ngModelChange)="updateAllComplete()"
          [disabled]="isDisabled"
        >
          {{ subtask.name }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  <p>{{updateOptions}}</p>
  <button mat-flat-button (click)="filterItems(true)" [disabled]="isDisabled">
    Фільтрувати
  </button>
  <button mat-flat-button (click)="noFilter(false)">Скинути фільтр</button>
</section>
