.section {
  padding:5px;
 
  width:210px;
  background: rgb(228, 235, 247);
  border-radius: 5px;
  border: 1px solid rgb(208, 224, 248);
}

.margin-checkbox {
  margin: 0;
  display: none;
}
.list-section{
 margin: 0;
 p{text-align: center;}
}
ul {
  list-style-type: none;
  margin-top: 4px;
padding:  0;
}
button {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 190px;
}