<section class="section">
  <span class="list-section">
    <mat-checkbox
      class="margin-checkbox"
      [checked]="allComplete"
      [color]="selectorColor.color"
      [indeterminate]="someComplete()"
     
    >
    </mat-checkbox>
    <p>{{ selectorColor.name }}</p>
  </span>
  <span class="list-section">
    <ul>
      <li *ngFor="let subselector of selectorColor.subselectors">
        <mat-checkbox
          [(ngModel)]="subselector.completed"
          [color]="subselector.color"
          (ngModelChange)="updateAllComplete()"
          [disabled]="isDisabled"
        >
          {{ subselector.name }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  
  <button
    mat-flat-button
    color="primary"
    (click)="filterItems(true)"
    [disabled]="isDisabled"
  >  
    <mat-icon>filter_list</mat-icon>
  </button>
 
</section>
