:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.selectors {
  display: flex;
  flex-direction: column;
  /*padding: 10px;*/
  width: 1200px;
  margin-left: calc((100vw - 1200px) / 2);
}
.selectors-withot-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section {
  padding: 10px;
  width: 1200px;
  margin-left: calc((100vw - 1200px) / 2);
  background: rgb(228, 235, 247);
  border-radius: 5px;
}
.add-button {
  margin-left: 1075px;
  background-color: green;
}

table {
  border-collapse: collapse;
}
.table-body > td {
  border-radius: 5px;
  border: 1px solid blue;
  padding: 5px;
  max-width: 600px;
}
.description {
  min-width: 600px;
}
.delFilters {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 1200px;
}
