/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-image: url("car.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
footer{
flex: 1 0 auto;
text-align: center;
height: 25px;
margin-top: auto;
}
.main {   
    flex: 1 0 auto; 
}